<!-- Image and text -->
<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand" href="http://nukemyro.com">
    <img src="http://nukemyro.com/img/nmi_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    nukemyro inc - FuzeApp Front End Developer - Technical Evaluation
  </a>
</nav>
<div class="workspace">
  <div class="container">
    <div class="row">
      <div class="card-deck">
        <div *ngFor="let card of cards;let i=index;" (click)="cardClick(card)">
          <click-card id="{{'click-card-' + i }}" [clickCount]="card.clickCount" [cardTitle]="card.cardTitle"></click-card>
        </div>
      </div>
    </div>
  </div>
</div>
